<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Public/plugins_wed_font/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/plugins/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/styles/categories_styles.css" rel="stylesheet" />
    <link href="~/Public/plugins_wed_font/styles/categories_responsive.css" rel="stylesheet" />
    
   
</head>
@RenderSection("header", required: false)
<body>
    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top_nav_left">free Ship cho đơn hàng từ 200.000</div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                        <ul class="top_nav_menu">

                            <!-- Currency / Language / My Account -->
                            <li class="account">
                                <a href="#">
                                    Tài Khoản
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="account_selection">
                                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <a href="https://localhost:44305">colo<span>shop</span></a>
                    </div>
                    
                        @Html.Action("MainMenu", "Module");
                    
                    
                </div>
            </div>
        </div>
    </div>
    

    <section class="mainconten clearfix">
        @RenderBody()
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                        @Html.Action("Menufooter", "Module");
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_nav_container">
                        <div class="cr">©2018 All Rights Reserverd. Template by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/Public/plugins_wed_font/js/jquery-3.2.1.min.js"></script>
    <script src="~/Public/plugins_wed_font/styles/bootstrap4/popper.js"></script>
    <script src="~/Public/plugins_wed_font/styles/bootstrap4/bootstrap.min.js"></script>

    <script src="~/Public/plugins_wed_font/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Public/plugins_wed_font/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Public/plugins_wed_font/plugins/easing/easing.js"></script>

    <script src="~/Public/plugins_wed_font/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Public/plugins_wed_font/js/categories_custom.js"></script>
    @RenderSection("footer", required: false)
</body>
