@model IEnumerable<MyClass.Models.Menu>

@{
    ViewBag.Title = "Thùng Rác Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />

}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <strong class="text-danger text-uppercase">Danh Sách Loại Sản Phẩm(Thùng Rác)</strong>
                    </div>
                    <div class="col-6 text-right">

                        <a href="@Url.Action("Index","Menu")" class="btn btn-sm btn-info "><i class="fas fa-long-arrow-alt-left"></i> Quay Lại danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:20px">#</th>
                            <th> Tên Menu</th>
                            
                            <th>Ngày Tạo </th>
                            <th class="text-center" style="width:120px">Chứa Năng</th>
                            <th class="text-center" style="width:20px">ID</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" name="checkID" value="" /></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateAt)
                                </td>

                                <td class="text-center">



                                    <a href="@Url.Action("Retrash","Menu",new { id=item.Id } )" class="btn btn-sm btn-info"><i class="fas fa-undo-alt"></i> </a>
                                    <a href="@Url.Action("Delete","Menu",new { id=item.Id } )" class="btn btn-sm btn-danger "><i class="fas fa-trash"></i> </a>


                                </td>
                                <td>@item.Id</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
            <!-- /.card-body -->

        </div>

    </section>
    <!-- /.card-footer-->
</div>
