@model MyClass.Models.Product


@{
    ViewBag.Title = "Xóa Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Xác Nhận Xóa Danh Mục</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Edit","Product",new { id=Model.Id } )" class="btn btn-sm btn-success"><i class="fas fa-edit"></i>Cập Nhật</a>
                            <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info "><i class="fas fa-long-arrow-alt-left"></i> Quay Lại danh sách</a>
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>Xóa</button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px">Tên Trường </th>
                        <th>Nội Dung</th>
                    </tr>
                    <tr>
                        <td>Tên Sản Phẩm</td>
                        <td> @Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>Số Lượng</td>
                        <td>@Html.DisplayFor(model => model.Number)</td>
                    </tr>

                    <tr>
                        <td> giá Nhập</td>
                        <td>@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <td>giá bán</td>
                        <td>@Html.DisplayFor(model => model.Pricesale)</td>
                    </tr>
                    <tr>
                        <td>Người tạo </td>
                        <td>@Html.DisplayFor(model => model.Create_By)</td>
                    </tr>
                    <tr>
                        <td> Ngày Tạo</td>
                        <td>@Html.DisplayFor(model => model.Create_At)</td>
                    </tr>
                    
                    <tr>
                        <td> Trạng Thái</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </section>
</div>
<!-- /.card -->
<!-- /.content-wrapper -->



